body {
  background-color: rgb(246, 255, 242);
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  margin: 0;
}
nav ul {
  list-style: none;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}

nav li a{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgb(62, 62, 62);
}

nav li a:active{
  color: rgb(255, 159, 3);
}


nav li:hover {
  background-color: rgba(255, 210, 114, 0.199);
}

p{
  font-size: 18px;
  font-weight: 300;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: justify;
}

figcaption {
  font-size: 16px;
  font-weight: 200;
  font-style:italic;
  text-align:center;
  color: rgb(255, 159, 3);
}

.a1{
  background-image: url(images/1.png);
  margin-top: 0;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
}

.a2{
  background-image: url(images/7.jpg);
  margin-top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  background-position: 40%;
  align-items: center;
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
}

h1 {
  background-color: rgba(255, 210, 114, 0.686);
  margin-right: 900px;
  text-align: center;
  color: rgb(255, 250, 250);
}

h2 {
  background-color: rgba(255, 210, 114, 0.686);
  text-align: center;
  color: rgb(255, 250, 250);
  padding-top:20px;
  padding-bottom: 20px;
  }


.b2 {
  padding-top: 60px;
  font-weight: 300;
  width: fit-content;
  margin: auto;
  font-size: 18px;
}

h3 {
  color: rgb(62, 62, 62);
  text-align: center;
  font-size: 22px;
  padding-top: 70px;
  width: fit-content;
  margin: auto;
}

#boarder{
  border-radius: 25px;
  background-color: rgb(58, 93, 46);
  margin-left: 200px;
  margin-right: 200px;
}

#color-text{
  color: rgb(255, 204, 93);
}

h4 {
  color: rgb(253, 223, 133);
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  padding: 20px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}


footer {
  font-weight: 200;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.head {
  font-weight: 200;
  font-size: 22px;
}


.portfolio-overlay {
  display: block;
  opacity: 0;
  background-color: rgb(255, 227, 71);
  position: absolute;
  height: 10%;
  width: 80%;
  padding: 10px;
  bottom: 10%;
  left: 10%;
}

.portfolio-hover {
  position: relative;
}

.portfolio-hover:hover .portfolio-overlay {
  opacity: 0.7;
}


.overlay-text {
  color: rgb(25, 25, 24);
  font-size: 16px;
  margin: 0;
  position: absolute;
  left: 10%;
  right: 10%;
  text-align: center;
  bottom: 30%;
}

.head-row-01{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 100px;
  margin-right: 100px;
}
.head-row-02{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 100px;
  margin-right: 100px;
}
.descriptor {
  padding-top: 40px;
  padding-left: 40px;
  color:rgb(13, 12, 12);
  font-weight: 300;
  font-size: 16px;
}


td, th {
  padding: 6px;
}

table {
  background-image:url(images/10.png);
  background-size:cover;
    padding: 10px;   
    margin:20px;
    border-radius: 25px;
}


tr:hover {background-color: rgb(255, 249, 219);}


.graphics-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 200;
}


.graphics-section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 200;
  padding-top: 40px;
  padding-bottom: 40px;
}